html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  height: 100%;
  margin: 0;
}


body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

h1{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-top: 2rem;
}
a{
  color:darkgreen;
}

.message{
  font-family: Gabriola;
  font-weight: bolder;
  font-size: 1.7em;
}

.card{
  border: 4px groove green;
}

li{
  list-style: none;
}

ul{
   padding-left:0;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;
}

.card-title{
  margin-bottom: 1rem;
  color:darkslateblue;
}

.card{
  margin:2rem auto;
}


footer, .footer {
  background-color: rgb(41, 35, 78);
  color: white;
  padding: 1rem;
  height: 15vh;
  border-top: 5px groove darkslateblue;
}

footer p{
  color: yellowgreen;
  text-align: center;
  padding-top: 1.5rem;
}

footer a {
  color: lightgray;
  text-decoration: none;
}
footer a:hover{color:gold;}

header{
  background-color: rgb(41, 35, 78);
  padding: 1rem 2em 0;
  border-bottom: 5px groove darkslateblue;
  margin-bottom: 2.5rem;
}

nav{
  max-width: 90%;
  margin: 0 auto;
}

.nav-item, .nav-link, .navbar-nav a, .btn-link.nav-link:focus{
    color: lightgray;
}
header li, .itemPartie{
  padding-top: 0.2rem;
   font-size: 1.1em;
}

a.titreHeader{
  white-space: nowrap;
  padding-right: 2em;
  text-align: center;
  color: rgb(30, 191, 108);
  text-decoration: none;
  font-size: 1.4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
}

a.nav-lien, .btn-lien{
   color: rgb(30, 191, 108);
   padding: 0 1em;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#lien-gestion, #lien-contact{
  color: linen;
}

.card-footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(241, 250, 210);
}
.card-footer a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-lien{
     font-size: 0.95em;
}

.itemPartiel{
  margin-top: 0.078rem;
}

#h2-msg{
  text-align: center; color: darkgreen;  margin-bottom: 2rem;
}
#h2-msg span{
  font-family: Jokerman;
}

.td-long, .th-long{
   max-width: 250px;
   padding-right: 2em;
}

td{
  vertical-align: middle;
  border-bottom: 3px solid black;
}

 .boutonsTable{
   margin-bottom: 1rem;
   width: 100%;
 }

  .boutonsTable{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0.5rem auto;
     width: 100%;
  }
  a.boutonsTable-vert, .boutonsTable a{
  width: 100%;
}

.boutonsTable a, .creer-a, .backList-a{
  padding: 0.25rem 1em;
  border-radius: 5px;
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

.boutonsTable a:hover, .creer-a:hover, .backList-a:hover{
  background-color: yellowgreen;
  color: black;
  font-weight: bold;
}

a.boutonsTable-vert{
  text-align: center;
  background-color: seagreen;
}

.boutonsTable-vert a{
   margin: 0 auto;
}

.edit-a{
  background-color: rgb(163, 107, 3);
}

.details-a{
    background-color: darkslateblue;
}

.delete-a{
  background-color: darkred;
}

.creer-a{
  background-color: rgb(24, 85, 136);
  padding: 0.5rem 1em;
   color: white;
}

.creer-p{
  margin: 2rem 0;
  color: white;
}

.colonne form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.colonne label{
  font-weight: bold;
}

.backList{
  margin: 0 auto 1rem;
  margin-right: 1em;
  padding: 0;
}

.backList-a{
  background-color: gold;
  color: black;
  border: 2px groove black;
}

.table{
  border: 3px solid black;
}

tr{
  width: 100%;
}

td, th{
 text-align: center;
}

.td-long{
  text-align: justify;
}

.msgTableSujet{
  width: 90%;
  text-align: left;
  font-family: Gabriola;
  border: 2px groove darkslateblue;
  margin: 0.5rem 0;
  overflow: wrap;
  word-break: break-all;
}

.msgTableSujet p{
  padding: 0 .5em;
  margin: 0;
}

.card-footer p{
  color: navy;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.boutonsTop{
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  margin-left: 6%;
  gap: 2em;
}

.boutonsTop a{
  text-decoration: none;
   font-weight: bold;
}

.btn-violet{
  background-color: rgb(221, 145, 98);
}

.boutonsTop .edit-a{
  background-color: gold;
  color: black;
  padding: 0.45rem 0.75em 0.45rem 0.5em;
  border-radius: 5px;
}

.card{
  word-break: break-all;
}

.blocXL{
  background-image: url("/images/img_app/messagerie.jpg");
  background-position: center;
  background-size: cover;
  border: 3px groove darkslateblue;
    padding: 4rem 5rem;
}


.blocExterne{
  background-color: black;
  border: 3px groove darkgreen;
}

form.formContact{
  width: 100%;
  padding: 5rem 7rem;
  margin: 0 auto;
  width: 100%;
   display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn-contact{
  color: black;
  font-weight: bold;
  background-color: gold;
}

.btn-contact:hover{
  color: black;
  background-color: thistle;
}

.formContact legend, .formContact label{
  color: goldenrod;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
}

.formContact legend{
  border-bottom: 3px groove goldenrod;
  font-size: 1.5em;
}

.formContact input[type="text"], .formContact input[type="email"], .formContact textarea{
  border: 3px groove goldenrod;
   border-radius: 5px;
  padding: 0.5rem;
  background-color: lightgoldenrodyellow; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
  padding: 0.5rem 1em ;
}

@media (max-width: 768px) {
  .blocXL{
    padding: 0;
  }
}